.btn {
  display: inline-block;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    opacity: 0.9;
  }
}

// Backgrounds and Colors
.bg--primary,
.btn--primary {
  background-color: $primary;
  color: $color-light;
}

.bg--secondary,
.btn--secondary {
  background-color: $secondary;
  color: $color-light;
}

.bg--dark,
.btn--dark {
  background-color: $dark;
  color: $color-light;
}

.bg--light,
.btn--light {
  background-color: $light;
  color: #333;
}

.btn--outline {
  background: transparent;
  border: 1px solid $color-light;
}

// Text Color
.text--primary {
  color: $primary !important;
}

.text--secondary {
  color: $secondary;
}

.text--dark {
  color: $dark;
}
