.btn {
  display: inline-block;
  padding: 0.75em 3em;
  border-radius: 0.5em;
  border: none;
  cursor: pointer;
  font-size: 0.9em;

  &:hover {
    opacity: 0.9;
  }
}

.btn--outline {
  background: transparent;
  border: 1px solid $color-light;
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    background-color: $light;
    color: $primary;
  }
}
