.languages {
  & .flex-row {
    flex-wrap: wrap;
  }

  & .card {
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translatey(-15px);
    }
  }

  .language__title {
    font-size: 1.1rem;
    margin-bottom: 0.75em;
  }
}
