.showcase {
  height: 30em;
  background-color: $primary;
  color: $color-light;
  // If there will be neccessary to position element in showcase
  position: relative;
  &__text {
    animation: slideInFromLeft 1s ease-in-out;
  }

  @include tablet {
    height: auto;

    &__text {
      text-align: center;
      margin-top: 40px;
    }
  }

  & .grid {
    grid-template-columns: 55% 40%;
    // Remove overflow thus any items inside it can move from the constrait of parent
    overflow: visible;
    height: 90%;
    justify-content: space-between;

    // Added mobile version to utility of the grid.
  }

  & h1 {
    font-size: 3em;
  }

  &__message {
    margin: 1.5em 0;
  }

  &__form {
    position: relative;
    top: 100px;
    width: 25em;
    height: 22em;
    padding: 2em;
    justify-self: flex-end;
    z-index: 100;
    animation: slideInFromRight 1s ease-in-out;

    @media (max-width: 1100px) {
      width: 20em;
    }

    @include tablet {
      width: 25em;
      top: 40px;
      justify-self: center;
      margin: auto;
    }

    @include mobile {
      width: 20em;
      top: 40px;
      justify-self: center;
      margin: auto;
    }

    .form__title {
      font-weight: bold;
    }

    .form-control {
      margin: 2em 0;
    }

    & input[type='text'],
    & input[type='email'] {
      border: 0;
      border-bottom: 1px solid #b4becb;
      width: 100%;
    }

    & input:focus {
      outline: none;
    }
  }

  &::after {
    content: ' ';
    position: absolute;
    background-color: $netrual;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    transform: skewY(-2deg);
  }
}
