.stats {
  padding: 6.25em 0;
  animation: slideInFromBottom 1s ease-in-out;
  @include mobile {
    padding: 6.25em 0 2em 0;
  }

  img {
    width: 160px;
    margin-bottom: 1em;
    @include mobile {
      width: 120px;
    }
  }

  &__heading {
    max-width: 31.25em;
    margin: auto;
  }

  &__title {
    font-size: 2.5rem;
  }

  &__exp {
    font-size: 1.1rem;
    font-weight: bold;
  }
}
